.register-container {
  margin: auto;
  width: 50%;
  margin-top: 2rem;
}

.form-register-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.form-register-container input {
  outline: none;
  padding: 10px;
  border-radius: 10px;
}
